body {

	background-color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	
	font-weight: 600;
}

#top {
	
	background-color: #222;
	padding: 20px 00px;
}

#top h1 {
	
  color: #d82c2c;
	
}

#top h3 {
	
	margin-top: 00px;
	color: #337ab7;
	font-weight: 400;
    margin-left: 10px;
	
}

#top h1, #top h3 {
	display: inline;
} 

#main {
	
	
	
}

.panel { background: transparent; }

.panel h1 {
	
	margin: 00px;
	font-size: 20px;
	
}

.boxed {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #BDC3C7;
	
	
	margin: auto;
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
}

.counter-style {
	padding-top: 10px;
	font-weight: 400;
    font-size: 20px;
    font-style: italic;
}


#main li {
	
	padding: 5px 00px;
	font-size: 15px;
	
}


.sides-arrow {
	
	display: inline;
	font-weight: bold;
}

.sides-arrow, .sides-text {
	
	font-size: 20px;

}

footer p {
	margin: 00px;
}

/* Set gray background color and 100% height */
#sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 162%;
}



/* Set black background color, white text and some padding */
footer {
  background-color: #000;
  color: white;
  padding: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  #sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;}
}